//
// Component: Notification
//
// ========================================================================

.uk-notification {
  border: 1px solid #E0E7FF;
  border-radius: 4px;
  box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);
}

.uk-notification-message {
  background: #ffffff;
  border-radius: 4px;
}

// Variables
// ========================================================================


// Component
// ========================================================================

// @mixin hook-notification(){}


// Message
// ========================================================================

// @mixin hook-notification-message(){}


// Close
// ========================================================================

// @mixin hook-notification-close(){}


// Style modifiers
// ========================================================================

// @mixin hook-notification-message-primary(){}

// @mixin hook-notification-message-success(){}

// @mixin hook-notification-message-warning(){}

// @mixin hook-notification-message-danger(){}


// Miscellaneous
// ========================================================================

// @mixin hook-notification-misc(){}
