<div class="uk-margin-xlarge-top">
  <div class="uk-text-center uk-margin-xlarge-top">
    <%= image_tag 'logo.svg', size: '200' %>
    <div class="uk-margin-medium">
      <p class="uk-margin-remove">
        Logra tus metas de ahorro compartiendo estadísticas y
        desafiando a tus amigos y familiares.
      </p>
    </div>
  </div>
</div>

<div class="uk-margin-small-top">
  <%= link_to "Crear cuenta", new_user_registration_path, class: 'uk-button uk-width-1-1 uk-button-primary' %>
</div>
<div class="uk-margin-small">
  <%= link_to "Iniciar sesión", new_user_session_path, class: 'uk-button uk-width-1-1 uk-button-default' %>
</div>
