<% content_for :title, "Conectar Bancos" %>

<div class="uk-placeholder uk-text-center uk-margin-top">
  <%= image_tag 'connect-bank.svg', size: '100' %>
  <p>
    Conecta tu cuenta Banregio para que todos tus gastos se reflejen
    en automático.
  </p>
  <%= link_to "Conectar cuenta de banco", "https://api-sandbox.brlabsdev.com:9447/oauth/authorize?response_type=code&client_id=rpYNJ4HRSfEmbFyvUoTOs0yQkcBodfZfZTUaRZ5v&redirect_uri=#{new_api_callback_url}", class: 'uk-button uk-button-primary' %>
</div>
