<h3>Conecta tu cuenta de banco </h3>
<%= link_to "Conectar con Banregio", "https://api-sandbox.brlabsdev.com:9447/oauth/authorize?response_type=code&client_id=rpYNJ4HRSfEmbFyvUoTOs0yQkcBodfZfZTUaRZ5v&redirect_uri=#{new_api_callback_url}" %>
