.fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
  height: 56px;
  width: 56px;
  background: $global-primary-background;
  border-radius: 28px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 25px rgba(46, 91, 255, 0.4);
}
