article,
footer,
header,
main,
nav,
section {
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

html,
body {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.app-container {
  height: 100%;
}

.main-container {
  overflow: hidden;
  background-color: #fafbfc;
  flex-grow: 1;
  order: 4;
  margin: 0 auto;
  max-width: 935px;
  width: 100%;
  padding: 0 16px;
}

.header-container {
  -webkit-box-ordinal-group: 1;
  order: 0;
}

.main-navigation {
  height: 45px;
  z-index: 11;
}

.main-navigation-container {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  &:before {
    background-color: #E0E7FF;
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.main-navigation-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 44px;
  justify-content: space-between;
  margin: 0;
  padding: 0 16px;
  position: relative;
}

.main-navigation-icon {
  flex-basis: 20%;
  flex-direction: row;
}

.main-navigation-icon-right {
  justify-content: flex-end;
  text-align: right;
}

.navigation-title {
  font-size: $global-font-size;
  font-weight: 500;
  margin: 0;
  color: #2E384D;
  align-items: center;
  display: block;
  flex-grow: 1;
  justify-content: center;
  min-width: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
