<nav class="header-container">
  <div class="main-navigation">
    <header class="main-navigation-container">
      <div class="main-navigation-title">
        <h1 class="navigation-title"><%= yield :title %></h1>
      </div>
    </header>
  </div>
</nav>
