<nav class="header-container">
  <div class="main-navigation">
    <header class="main-navigation-container">
      <div class="uk-text-center">
        <p class="uk-text-bold"><%= yield :title %></p>
      </div>
    </header>
  </div>
</nav>
